@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/JP/_Layout_Wiki.cshtml";
}
<title>VTuber百科 VTWiki</title>
<div>
    <div class="lay-wiki-banners"></div>
</div>

<div class="lay-wiki-purpose">
    <div class="lay-wiki-purpose-flex">
        <div class="lay-wiki-purpose-div-img">
            <img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/1369026/480076_541681.jpeg" class="lay-wiki-purpose-img" alt="Alternate Text" />
        </div>
        <div class="lay-wiki-purpose-font">
            <h3>設立の目的</h3>
            <p>
                本サイトの目的は、VTuberの2大企業である「hololive」と「rainbow society」の情報を集約することですが、VTuberライブとVTuber関連の情報を統合したサイトはありません。 これにより、初めて聴く人の数が減るのではないかと考えています。
            </p>
            <p>
                これでは、初めてVTuberを見る方の熱量が下がってしまうのではないかと考え、マルチウィンドウのライブ配信機能やVTipediaを使って動画と情報を統合し、検索コストを抑えてVTuber入門者の熱量を高め、より多くの方に業界のことを知ってもらえるようなサイトを提供していきたいと考えています。
            </p>
        </div>
    </div>
</div>


<div class="lay-wiki-function">
    <div class="lay-wiki-function-flex">
        <div class="lay-wiki-function-div-img">
            <img src="~/Photo/VTWiki-bg-middle.jpg" class="lay-wiki-purpose-img" alt="Alternate Text" />
        </div>
        <div class="lay-wiki-function-font">
            <h3>機能性と特徴</h3>
            <p>
                "VTWiki "は、大手企業2社が所有するVTuberの会社と人物のプロフィールを統合し、クローラーと埋め込み機能を使ってVTuberのTwitterアカウントから最新のニュースを取り込みます。 また、中国語、英語、日本語の言語切り替えが可能で、言語の壁によってVTuberへのアクセスが阻害される問題を解決します。
            </p>
            <p>
                また、本サイトでは、ユーザーの皆様に快適にご利用いただくために、ダークカラーを基調としたデザインを採用し、機能をすぐにご理解いただけるように簡単な紹介文を掲載しています。
            </p>
        </div>
    </div>
</div>


<div class="lay-wiki-feature">
    <div class="lay-wiki-purpose-flex">
        <div class="lay-wiki-purpose-div-img">
            <img src="~/Photo/VTWiki-bg-bottom.jpg" class="lay-wiki-purpose-img" alt="Alternate Text" />
        </div>
        <div class="lay-wiki-purpose-font">
            <h3>探索開始</h3>
            <p>
                もっと詳しく知りたい方は、ぜひご覧ください。 ライブストリーミングとVtuberのプロフィールを統合したウェブサイトです。 ウェブサイトの言語を調整したり、好みに応じて深夜モードを切り替えたりすることができます。 VTuberの最も詳しい説明は全てここにあります。
            </p>
        </div>
    </div>
</div>