@{
    Layout = "~/Views/Shared/EN/_Layout_DisIndex.cshtml";
    ViewBag.Title = "VT_Set";
}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Shrikhand&family=Tourney:ital,wght@1,500&display=swap" rel="stylesheet">

<title>Setting VT_Set</title>

<div class="set-main">
    <h1>Setting</h1>
    <div class="set-flex">
        <div class="set-lanuage">
            <h4>
                <i class="fa fa-globe-asia" aria-hidden="true"></i>
                <span class="set-lanuage-font">Language</span>
            </h4>
            <div class="set-lanuage-titie">
                <h4>Language Selection</h4>
                <div class="set-lanuage-flex">
                    <a href="/EN/VTDiscovery">English</a>
                    <a href="/Home/VTDiscovery">繁體中文</a>
                    <a href="/JP/VTDiscovery">日本語</a>
                </div>
            </div>
        </div>
        <div class="set-all">
            <h4>
                <i class="fas fa-cog"></i>
                <span class="set-all-font">Global Setting</span>
                <label class="dark-toggle">
                    <input id="dark-toggle" class="dark-toggle-checkbox" type="checkbox">
                    <a class="dark-toggle-switch"></a>
                </label>
            </h4>
            <h3>Theme</h3>
            
        </div>
    </div>
</div>




