@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/EN/_Layout_Wiki.cshtml";
}
<title>VTuber_Encyclopedia VTWiki</title>
<div>
    <div class="lay-wiki-banners"></div>
</div>

<div class="lay-wiki-purpose">
    <div class="lay-wiki-purpose-flex">
        <div class="lay-wiki-purpose-div-img">
            <img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/1369026/480076_541681.jpeg" class="lay-wiki-purpose-img" alt="Alternate Text" />
        </div>
        <div class="lay-wiki-purpose-font">
            <h3>Establishment Purpose</h3>
            <p>
                The purpose of this website is to integrate the information of the two major VTuber companies "hololive" and "rainbow society", but there is no website that integrates VTuber live and VTuber related information. We think this may reduce the number of first-time listeners.
            </p>
            <p>
                We believe that this may reduce the enthusiasm of first-time VTuber viewers, so this website intends to use the multi-window live streaming function and VTipedia to integrate videos and information, and provide a website that reduces the search cost and increases the enthusiasm of VTuber initiates, so that more people can understand the industry of VTuber.
            </p>
        </div>
    </div>
</div>


<div class="lay-wiki-function">
    <div class="lay-wiki-function-flex">
        <div class="lay-wiki-function-div-img">
            <img src="~/Photo/VTWiki-bg-middle.jpg" class="lay-wiki-purpose-img" alt="Alternate Text" />
        </div>
        <div class="lay-wiki-function-font">
            <h3>Functionality and Features</h3>
            <p>
                "VTWiki" integrates the company and person profiles of VTuber, which is owned by two major companies, and uses crawlers and embedding functions to capture the latest news from VTuber's Twitter account. It also provides language switching between Chinese, English and Japanese to solve the problem of language barrier and reluctance to contact VTuber.
            </p>
            <p>
                In addition, in order to provide a good user experience, the design of this website is mainly in dark colors, and provides a brief introduction for users to quickly understand the functions of this website.
            </p>
        </div>
    </div>
</div>


<div class="lay-wiki-feature">
    <div class="lay-wiki-purpose-flex">
        <div class="lay-wiki-purpose-div-img">
            <img src="~/Photo/VTWiki-bg-bottom.jpg" class="lay-wiki-purpose-img" alt="Alternate Text" />
        </div>
        <div class="lay-wiki-purpose-font">
            <h3>Start Exploration</h3>
            <p>
                Want to learn more, why not take a look? There may be information or features you need here, this is a live and Vtuber introduction integrated website, according to your preferences you can adjust the site language and switch the late night mode, in the video home page there are a variety of Vtuber waiting for you to discover, if you do not know which Vtuber to follow and feel confused, go to VTWiki first to find it, VTuber the most detailed introduction All here.
                Translated with www.DeepL.com/Translator (free version)
            </p>
        </div>
    </div>
</div>