@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/EN/_Layout_Wiki.cshtml";
}

<title>Brand Introduction VTWiki_Firm</title>

<header class="wiki-firm-head ">
    <div class="wiki-firm-head-border">
        <div class="wiki-firm-head-flex">
            <div class="wiki-firm-head-HL wiki-firm-HL-color">
                <button class="wiki-firm-head-HL-btn wiki-firm-tab-btn lay-wiki-firm-active" data-id="Firm_Hololive">Hololive</button>
            </div>
            <div class="wiki-firm-head-NJ">
                <button class="wiki-firm-head-NJ-btn wiki-firm-tab-btn" data-id="Firm_Nijisanji">Nijisanji</button>
            </div>
        </div>
    </div>
</header>


<div class="wiki-firm-head-fixbg"></div>

<div class="wiki-firm-HL wiki-firm-content lay-wiki-firm-active" id="Firm_Hololive">
    <div class="wiki-firm-HL-flex">
        <div class="wiki-firm-HL-img">
            <img src="/Photo/VTWiki-bg-top.png" alt="Alternate Text" />
        </div>
        <div class="wiki-firm-HL-content">
            <h3>Brand Introduction</h3>
            <p>
                Hololive production is an agency brand of Japanese technology company COVER Corporation, and its main business is to operate virtual YouTubers. In addition to Japan, it also owns and operates VTubers in other regions, and launched its first virtual YouTuber, Toki Naka, in September 2017, and in May 2018, the company began recruiting in May 2018, the company began recruiting performers.
            </p>
            <p>
                In January 2019, as VTuber Shirakami Fukiuki's subscriptions on bilibili exceeded those on YouTube, parent company COVER announced the launch of its business in China and allowed all of its VTubers to enter bilibili. Gawr Gura, who debuted as a shark, reached the first 3 million subscribers in July 2021.
            </p>
        </div>
    </div>
</div>

<div class="wiki-firm-NJ wiki-firm-content" id="Firm_Nijisanji">
    <div class="wiki-firm-HL-flex">
        <div class="wiki-firm-HL-img">
            <img src="https://www.sankei.com/images/news/201029/prl2010290544-p1.jpg" alt="Alternate Text" />
        </div>
        <div class="wiki-firm-HL-content">
            <h3>Brand Introduction</h3>
            <p>
                Nijisanji, also known as Rainbow Club, is a virtual YouTuber mobile app developed by ANYCOLOR Corporation. Originally, it was only intended to hire virtual YouTubers to promote the mobile app, but unexpectedly its virtual character, the Moon Rabbit, became popular, which led to the rise in popularity of all Rainbow Club virtual characters.
            </p>
            <p>
                So Rainbow Club set up an office and began to devote itself to the VTuber industry, and later added new members one after another, and started various VTuber activities and merchandise sales.
            </p>
        </div>
    </div>
</div>



